<!-- <div *ngIf="items?.length > 0;else noItems">
  <ul *ngFor="let item of items" class="collection">
    <li class="collection-item"><strong>{{item.title}}: </strong> {{item.content}} <a href="#" class="secondary-content">
      <i (click)="editItem($event, item)" class="fa fa-pencil"></i>  
      <i *ngIf="editState && itemToEdit.id == item.id" (click)="clearState()" class="fa fa-compress"></i>  
    </a>
    
    <div *ngIf="editState && itemToEdit.id == item.id">
      <form (ngSubmit)="updateItem(item)">
          <div class="row">
              <div class="input-field col s6">
                <input type="text" placeholder="Add Title" [(ngModel)]="item.title" name="title">
              </div>
              <div class="input-field col s6">
                <input type="text" placeholder="Add Content" [(ngModel)]="item.content" name="content">
              </div>
              <input type="submit" value="Update Item" class="btn orange">
              <button (click)="deleteItem($event, item)" class="btn red">Delete Item</button>
            </div>
      </form>
    </div>

    </li>
  </ul>
</div>

<ng-template #noItems>
  <hr>
  <h5>There are no items to list</h5>
</ng-template> -->


<div class="ytBgContainer">
  <div class="video-bg cover">
    <div class="video-fg">
      <div id="streamPlayer"></div>
    </div>
  </div>
</div>
<div id="page" class="site">

  <div class="mainView">

    <div class="rightMainPanel">
      <div class="meditationElements">

        <app-invocation></app-invocation>
        <app-affirmations></app-affirmations>

        <div id="meditation" class="meditation-element">
          <div id="symbolsPlayer"></div>
        </div>
        <div id="prayer" class="meditation-element">
          <div class="GrailImage small"></div>
        </div>
        <div id="song" class="meditation-element">
          <div class="audioSong">
            <div id="songPlayer"></div>
          </div>
        </div>
      </div>
      <div class="HealCodes">
        <div>22 11 377 ~&gt; to improve memory</div>
        <div>29 56 932 ~&gt; for dementia</div>
        <div>25 49 563 ~&gt; for Alzheimers dementia</div>
      </div>
    </div>
  </div>
</div>
<!-- #page -->