<div id="masters" class="meditation-element">
    <div class='pfpItem entry-content'>
      <div class="mastersGallery">
        <div class="mastersIcons" target="michelle">
          <img src="../assets/images/masters/michelle.png" alt="" />Thompson Michelle</div>
        <div class="mastersIcons" target="cicciolinaImage">
          <img src="../assets/images/masters/cic.png" alt="" />Cicciolina</div>
        <div class="mastersIcons" target="usuireiki">
          <img src="../assets/images/masters/lei.png" alt="" />Furumoto Phyllis Lei</div>
        <div class="mastersIcons" target="omreiki">
          <img src="../assets/images/masters/aordania.gif" alt="" />Om Reiki Dania</div>
        <div class="mastersIcons" target="thaddeusImage">
          <img src="../assets/images/masters/TadeuszLeft.jpg" alt="" />Habdank Thaddeus</div>
        <div class="mastersIcons" target="masterLiImage">
          <img src="../assets/images/masters/Sankta_Li_chingYuen.jpeg" alt="" />Li Ching-Yuen</div>
      </div>
      <div class="invocationPreview">
        <div id="invocationText" class="invocationElement">I live pro Beta OM Reiki
          <br /> I like to do Beta OM Reiki
          <br /> I love to do Beta OM Reiki
          <br /> I am lucky to do Beta OM Reiki
          <br /> My life’s Force is Beta OM Reiki
          <br /> My life’s Energy is Beta OM Reiki
          <br /> My life’s Momentum is Beta OM Reiki
          <br /> My life’s Willpower is Beta OM Reiki
          <br /> My life’s Order is Beta OM Reiki</div>
        <div>
          <img id="michelle" class="invocationElement" src="../assets/images/masters/big/Michelle.jpg" alt="" width="840" height="560"
          />
        </div>
        <div>
          <img id="cicciolinaImage" class="invocationElement" src="../assets/images/masters/big/Cicciolinebig.jpg" alt="" width="1500"
            height="750" />
        </div>
        <div>
          <img id="usuireiki" class="invocationElement" src="../assets/images/masters/big/usuireikilineage.png" alt="" width="1500"
            height="750" />
        </div>
        <div>
          <img id="omreiki" class="invocationElement" src="../assets/images/masters/big/tjhwhorgy.gif" alt="" />
        </div>
        <div>
          <img id="thaddeusImage" class="invocationElement" src="../assets/images/masters/big/healthytadeusz1.gif" alt="" width="1500"
            height="750" />
        </div>
        <div>
          <img id="masterLiImage" class="invocationElement" src="../assets/images/masters/big/sanktamasterli.gif" alt="" width="1500"
            height="750" />
        </div>
      </div>
    </div>
  </div>